<div class="footer">
    <div class="socials">
        <a href="https://www.facebook.com/boblegob" target="_blank" title="Facebook" class="social facebook"></a>
        <a href="https://twitter.com/Boblegob2" target="_blank" title="Twitter" class="social twitter"></a>
        <a href="https://www.dailymotion.com/WABTV" target="_blank" title="Dailymotion" class="social dailymotion"></a>
        <a href="https://www.youtube.com/user/TheBoBLeGoB" target="_blank" title="Youtube" class="social youtube"></a>
        <a href="https://www.twitch.tv/weareb0b" target="_blank" title="Twitch" class="social twitch"></a>
        <a href="https://discord.gg/KNF5zrZ" target="_blank" title="Discord" class="social discord"></a>
        <a href="ts3server://ts12.verygames.net?port=51344" target="_blank" title="Teamspeak" class="social teamspeak"></a>
    </div>
</div>