<div class="header">
    <div class="btn-menu" ng-click="open(true)"></div>

    <a href="./" class="logo"title="We Are Bob Télévision"></a>

    <div class="menu" ng-class="{open: menu}">
        <div class="btn-close" ng-click="open(false)"></div>
        <div class="table">
            <div class="table-row">
                <a href="./" ng-click="open(false)" ng-class="{selected: slugPage == 'home'}">Home</a>
                <a href="./schedule" ng-click="open(false)" ng-class="{selected: slugPage == 'schedule'}">Programme</a>
                <a href="./replay" ng-click="open(false)" ng-class="{selected: slugPage == 'replay'}">Replay</a>
                <a href="./shop" ng-click="open(false)" ng-class="{selected: slugPage == 'shop'}">Boutique</a>
                <a href="./gamer" ng-click="open(false)" ng-class="{selected: slugPage == 'gamer'}">Les Recettes du Gamer</a>
                <a href="./highlight" ng-click="open(false)" ng-class="{selected: slugPage == 'highlight'}">Highlight</a>
                <a href="./studio" ng-click="open(false)" ng-class="{selected: slugPage == 'studio'}">Studio</a>
            </div>
        </div>
    </div>
</div>