<div class="partners">
    <a href="http://www.goclecd.fr/?boblegob" target="_blank" class="partner"><img src="img/partners/goclecd.png" alt="Go Cle CD" /></a>
    <a href="http://www.quersus.com/fr/" target="_blank" class="partner"><img src="img/partners/quersus.png" alt="Quersus" /></a>
    <a href="http://www.dailymotion.com/" target="_blank" class="partner"><img src="img/partners/dailymotion.png" alt="Dailymotion" /></a>
    <a href="https://shop.gunnars.fr/fra?acc=b4d168b48157c623fbd095b4a565b5bb&___store=fra" target="_blank" class="partner white"><img src="img/partners/gunnar.png" alt="Gunnar" /></a>
    <a href="http://www.stealth-gamer.com/fr/" target="_blank" class="partner"><img src="img/partners/stealthgamer.png" alt="Stealth Gamer" /></a>
    <a href="http://www.warlegend.net/" target="_blank" class="partner"><img src="img/partners/warlegend.png" alt="War Legend" /></a>
</div>