<div class="partners">
    <a href="#" class="partner"><img src="img/partners/goclecd.png" alt="Go Cle CD" /></a>
    <a href="#" class="partner"><img src="img/partners/jeuvideo.png" alt="Jeu.Video" /></a>
    <a href="#" class="partner"><img src="img/partners/dailymotion.png" alt="Dailymotion" /></a>
    <a href="#" class="partner"><img src="img/partners/gunnar.png" alt="Gunnar" /></a>
    <a href="#" class="partner"><img src="img/partners/stealthgamer.png" alt="Stealth Gamer" /></a>
    <a href="#" class="partner"><img src="img/partners/warlegend.png" alt="War Legend" /></a>
</div>