<div class="recipe">
    <div class="left">
        <div class="img"><img src="img/gamer/buns.jpeg" alt="{{ article.title }}" /></div>
        <ul class="ingredients" contenteditable ng-model="currentGamer.ingredients">
            <li>600 g de farine de blé T55 (et 50g pour le plan de travail)</li>
            <li>6 g de sel</li>
            <li>15 g de sucre</li>
            <li>180 g de lait  demi-écrémé</li>
            <li>150 g d' eau</li>
            <li>1 oeuf</li>
            <li>30 g de beurre</li>
            <li>25 g de levure fraîche (ou 10g de levure sèche instantanée)</li>
            <li>Graines de sésame</li>
        </ul>
    </div>
    <div class="right">
        <div class="title" contenteditable ditable ng-model="currentGamer.title">{{ article.title }}Buns - pains à burger</div>
        <div class="txt" contenteditable ng-model="currentGamer.txt">
            <b>Pour 10 buns :</b>
            <b>Pétrissage à la main :</b>
            <p>Mélangez la farine, le sel et le sucre dans un grand saladier. Faîtes un puit au centre et ajoutez le lait écréme, l’eau, l’oeuf entier, le beurre, et la levure.</p>
            <p>Mélangez avec le manche d’une cuillère en bois jusqu’à ce que tous les ingrédients soit grossièrement amalgamés. versez la pâte sur le plan de travail et pétrissez-la pendant 3 min . Formez une boule grossière.</p>
            <b>Pétrissage au robot pétrin :</b>
            <p>Equipez votre robot du crochet à pétrir.</p>
            <p>Disposez tous les ingrédients sauf les graines dans la cuve en prenant soin de ne me pas mettre la levure au contact avec le sel.</p>
            <p>Mettez le robot en marche en vitesse moyenne pendant 5 min.</p>
            <p>Récupérez la pâte sur le plan de travail et formez une boule grossière</p>
            <b>Une fois le pétrissage terminé :</b>
            <p>Disposez la boule de pâte dans un grand saladier préalablement huilé, et couvrez de film alimentaire au contact de la pâte. Disposez le saladier dans un endroit chaud (minimum 22°, maximum 30°) et laissez lever la pâte pendant 1h30 (cette première étape de levée s’appelle “le pointage”).</p>
            <p>Retirez le film alimentaire et donnez un coup de poing dans le centre de la pâte pour la dégazer. Débarrassez la pâte sur le plan de travail et divisez-là en 10 parts égales de 100g. Formez une boule bien serrée avec chaque paton sur le plan de travail non fariné et laissez-les se détendre recouverts d’un linge  sur une partie du plan de travail fariné pendant 10 min environ.</p>
            <p>Disposez un grand volume de graines de votre choix dans une assiette creuse et versez de l’eau dans une seconde assiette.</p>
            <p>Aplatissez légèrement une boule  sur le plan de travail avec votre main, puis retournez-la dans l’assiette contenant de l’eau, récupérez immédiatement le paton pour la déposer dans les graines du côté mouillé, et disposez-le dans la lèchefrite préalablement recouverte de papier cuisson.</p>
            <p>Renouvelez cette opération avec les 9 autres patons.</p>
            <p>Recouvrez les patons avec un torchon, et laissez-les lever pendant 1h.</p>
            <p>allumez votre four à 200° avec une plaque de fonte (ou une seconde léchefrite) posée sur la sole du four.</p>
            <p>Une fois la Pousse terminée, Enfournez les patons en versant un demi-verre d’eau sur la plaque posée au fond du four afin de créer de la vapeur et laisssez cuire pendant 18 à 20 min selon votre four.</p>
            <p>Sortez les buns dès que vous constatez une coloration, et laissez-les refroidir avant toute dégustation.</p>
        </div>
    </div>
</div>
