<div class="admin">

    <h1>Administration</h1>
    <div class="buttons">
        <input type="button" value="Configuration" class="button" ng-click="tabs('config')" />
        <input type="button" value="Programme" class="button" ng-click="tabs('schedule')" />
        <input type="button" value="Les Recettes du Gamer" class="button" ng-click="tabs('gamer')" />
        <input type="button" value="Déconnexion" class="button" ng-click="logout()" />
    </div>

    <div class="message" ng-show="message">{{ message }}</div>

    <div ng-show="tab == 'config'">
        <h2>Configuration</h2>

        <h3>Publicité</h3>

        <div class="form">
            <label>Actif</label>
            <input type="checkbox" ng-model="config.ads.active" />

            <label>URL cible</label>
            <input type="text" placeholder="URL cible" ng-model="config.ads.adsUrl" />

            <label>URL banniére</label>
            <input type="text" placeholder="URL banniére" ng-model="config.ads.bannerUrl" />

            <label>URL habillage</label>
            <input type="text" placeholder="URL habillage" ng-model="config.ads.wallpaperUrl" />
        </div>

        <div class="buttons">
            <input type="button" value="Valider" class="button" ng-click="submitConfig()" />
        </div>

        <h3>Player</h3>

        <div class="buttons">
            <input type="button" value="Nouveau" class="button" ng-click="addPlayer()" />
        </div>

        <table>
            <tr>
                <th>Actif</th>
                <th>Type</th>
                <th>Alias</th>
                <th>Identifiant</th>
                <th>Titre</th>
                <th></th>
            </tr>
            <tr ng-repeat="player in config.players">
                <td>
                    <input type="checkbox" ng-model="player.active" ng-change="activePlayer" />
                </td>
                <td>
                    <select ng-model="player.type">
                        <option ng-repeat="type in playerType" ng-value="type">{{ type }}</option>
                    </select>
                </td>
                <td>
                    <input type="text" placeholder="Alias" ng-model="player.alias" />
                </td>
                <td>
                    <input type="text" placeholder="Identifiant" ng-model="player.key" ng-change="twitchReset(player)" />
                </td>
                <td>
                    <input type="text" placeholder="Titre" ng-model="player.title" />
                </td>
                <td>
                    <input type="button" value="Supprimer" ng-click="deletePlayer(player)" />
                    <input type="button" value="Vérifier" ng-click="twitchVerify(player)" ng-show="player.type === 'twitch' && !player.id" />
                </td>
            </tr>
        </table>

        <div class="buttons">
            <input type="button" value="Valider" class="button" ng-click="submitConfig()" />
        </div>

    </div>

    <div ng-show="tab == 'schedule'">
        <h2>Programme</h2>

        <div class="form">
            <select ng-model="currentSchedule">
                <option ng-repeat="schedule in schedules" ng-value="schedule">{{ schedule.day }}</option>
            </select>
            <div class="datepicker">
                <datepicker date-format="yyyy-MM-dd"><input type="date" placeholder="Date" ng-model="currentSchedule.date" /></datepicker>
            </div>
            <div class="offDay">
                <label>Journée off ?</label>
                <input type="checkbox" ng-model="currentSchedule.offDay" ng-change="offDay()" />
            </div>
        </div>

        <div class="buttons">
            <input type="button" value="Ajouter un créneau" class="button" ng-click="addSlot()" />
        </div>

        <table>
            <tr ng-hide="currentSchedule.offDay">
                <th>Début</th>
                <th>Fin</th>
                <th>Emission</th>
                <th>Titre</th>
                <th></th>
            </tr>
            <tr ng-repeat="slot in currentSchedule.slots">
                <td ng-hide="currentSchedule.offDay">
                    <select ng-model="slot.start">
                        <option ng-repeat="hour in hours" ng-value="hour">{{ hour }}</option>
                    </select>
                </td>
                <td ng-hide="currentSchedule.offDay">
                    <select ng-model="slot.end">
                        <option ng-repeat="hour in hours" ng-value="hour">{{ hour }}</option>
                    </select>
                </td>
                <td ng-hide="currentSchedule.offDay">
                    <select ng-model="slot.show">
                        <option ng-repeat="(slug, show) in shows" ng-value="slug">{{ show }}</option>
                    </select>
                </td>
                <td>
                    <textarea placeholder="Titre" ng-model="slot.title"></textarea>
                </td>
                <td ng-hide="currentSchedule.offDay">
                    <input type="button" value="Retirer" ng-click="removeSlot($index)" />
                </td>
            </tr>
        </table>

        <div class="buttons">
            <input type="button" value="Valider" class="button" ng-click="submitSchedule()" />
        </div>

        <h2>Aperçu</h2>
        <ng-include src="'tpl/schedule.html'"></ng-include>
    </div>
    
    <div ng-show="tab == 'gamer'">
        <h2>Les Recettes du Gamer</h2>
        <div class="buttons">
            <select ng-model="currentGamer" class="button">
                <option ng-repeat="gamer in gamers" ng-value="gamer">{{ gamer.title }}</option>
            </select>
            <input type="button" value="Nouvelle recette" class="button" ng-click="newGamer()" />
            <input type="button" value="Supprimer la recette" class="button" ng-click="deleteGamer()" />
        </div>

        <div class="image">
            <div>Liste des images disponibles : </div>
            <ul>
                <li ng-repeat="image in images">
                    <img ng-src="{{ image }}" ng-click="setImage(image)" ng-right-click="removeImage(image)" />
                </li>
            </ul>
            <span>Ajouter une image :</span>
            <input type="file" name="file" id="file"  />
            <input type="button" value="Envoyer" class="button" ng-click="addImage()" />
            <div class="legend">
                L'image envoyée doit être un JPG.
                L'image sera automatiquement redimensionné en 400x400 si la taille est différente.<br/>
                Click gauche pour attribuer une image à la recette.
                Click droit pour supprimer une image de la liste.
            </div>
        </div>

        <h2>Edition</h2>

        <div class="buttons">
            <input type="button" value="Valider" class="button" ng-click="submitGamer()" />
            <input type="button" value="Bold" class="button" ng-click="bold($event)" />

            <div class="active">
                <input type="checkbox" id="active" ng-model="currentGamer.active">
                <label for="active">Rendre la recette public ?</label>
            </div>
        </div>

        <div class="recipe">
            <div class="circle"></div>
            <div class="row">
                <div class="left">
                    <div class="img"><img src="{{ currentGamer.img }}" /></div>
                </div>
                <div class="right">
                    <div class="title editor" contenteditable ng-model="currentGamer.title"></div>
                </div>
            </div>
            <div class="left">
                <div class="ingredients editor" contenteditable ng-model="currentGamer.ingredients"></div>
            </div>
            <div class="right">
                <div class="txt editor" contenteditable ng-model="currentGamer.txt"></div>
            </div>
        </div>
    </div>
</div>