<div class="gamer">
    <h1>Les recettes du Gamer</h1>

    <div class="articles">
        <div class="row" ng-repeat="articles in data">
            <div class="article" ng-repeat="article in articles" toggle-class="open">
                <div class="miniature">
                    <div class="img"><img src="{{ article.img }}" alt="{{ article.title }}" /></div>
                    <div class="title">{{ article.title }}</div>
                </div>
                <div class="recipe">
                    <div class="circle"></div>
                    <div class="left">
                        <div class="img"><img src="{{ article.img }}" alt="{{ article.title }}" /></div>
                        <div class="ingredients" ng-bind-html="article.ingredients"></div>
                    </div>
                    <div class="right">
                        <div class="title-container">
                            <div class="title">{{ article.title }}</div>
                        </div>
                        <div class="txt" ng-bind-html="article.txt"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>