<div class="header">
    <div class="btn-menu" ng-click="open(true)"></div>

    <a href="/" class="logo" title="We Are Bob Télévision">
        <img src="img/logo.jpg" alt="WAB TV" />
        WAB
    </a>

    <div class="socials">
        <a href="#" class="social facebook"></a>
        <a href="#" class="social twitter"></a>
        <a href="#" class="social dailymotion"></a>
        <a href="#" class="social youtube"></a>
        <a href="#" class="social twitch"></a>
    </div>

    <div class="menu" ng-class="{open: menu}">
        <div class="btn-close" ng-click="open(false)"></div>
        <a href="/">Home</a>
        <a href="/schedule">Programme</a>
        <a href="/shows">Emissions</a>
        <a href="/streamers">Streamers</a>
        <a href="/replay">Replay</a>
        <a href="/partners">Partenaires</a>
    </div>
</div>