<div class="playlist-container">

    <h1 ng-show="title">{{ title }}</h1>


    <div class="embed-placeholder">
        <div class="embed-container">
            <div class="player">
                <iframe height="360" width="640" frameborder="0" scrolling="no" allowfullscreen="true" id="player"></iframe>
            </div>
            <div class="sidebar">
                <div class="character character-relay">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>
            </div>
        </div>
    </div>

    <h2>Derniers replays - {{ nb }} vidéo(s)</h2>

    <div ng-show="message">
        {{ message }}
    </div>

    <div class="items" ng-show="!message">
        <div class="item" ng-repeat="video in data" ng-class="{active: active == video.id}" ng-click="loadDailymotion(video.id, video.title, true)">
            <div class="img">
                <img src="{{ video.img }}" alt="{{ video.title }}" />
                <div class="date">{{ video.date }}</div>
                <div class="duration">{{ video.duration }}</div>
            </div>
            <div class="title">{{ video.title }}</div>
        </div>
    </div>

    <div class="buttons">
        <a class="button" href="#">Afficher plus</a>
    </div>

</div>