<div class="home-container">

    <div class="embed-top" ng-class="{show: !loading}">
        <div class="buttons">
            <div class="button fullscreen" ng-class="{theater: theater}" ng-click="fullScreen()">Mode Théâtre</div>
            <div class="button nightmode" ng-class="{active: night}" ng-click="nightMode()">Mode Nuit</div>
        </div>
        <div class="stream" ng-class="{large: !data.viewers}">
            <div class="title" title="{{ data.title }}">{{ data.title }}</div>
            <div class="viewers">{{ data.viewers }}</div>
        </div>
    </div>

    <div class="embed-placeholder">
        <div class="loading" ng-class="{hide: !loading}">
            <span>Chargement...</span>
        </div>

        <div class="embed-container" ng-class="{theater: theater, show: !loading}">
            <div class="player" id="player">
                <iframe frameborder="0" scrolling="no" id="player_iframe"></iframe>
            </div>
            <div class="sidebar" ng-class="{show: player, hide: highlight}">
                <iframe frameborder="0" scrolling="no" id="chat"></iframe>
            </div>
            <div class="sidebar playlist" ng-class="{show: highlight, hide: player}">
                <div class="video" ng-repeat="video in data.playlist" ng-class="{active: data.id == video.id}" ng-click="loadYoutube(video.id, true)">
                    <img src="{{ video.img }}" alt="{{ video.title }}" />
                    <span>{{ video.title }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="embed-bottom" ng-class="{show: !loading}">
        <div class="buttons">
            <a href="https://www.twitchalerts.com/donate/weareb0b" target="_blank" class="button paypal">Faire un don avec Paypal</a>
            <a href="https://secure.twitch.tv/products/weareb0b/ticket/new?ref=below_video_subscribe_button" target="_blank" class="button subscribe">S'abonner à la chaine</a>
            <a href="https://chrome.google.com/webstore/detail/wab-tv/lahkjlhhipaecigocgpgmfkgmklkfhle?hl=fr" target="_blank" class="button chrome">Extension Chrome</a>
        </div>
    </div>
</div>