<div class="schedule">
    <div class="column hours">
        <div class="day"></div>
        <div class="hour" ng-repeat="hour in hours">{{ hour }}</div>
    </div>
    <div ng-repeat="schedule in schedules" class="column">
        <div class="day">
            {{ schedule.day }}
            {{ schedule.date }}
        </div>
        <div class="slot" ng-repeat="slot in schedule.slots" ng-class="{'slot-large': schedule.allDay}">
            {{ slot.hour }}
            {{ slot.streamer }}
            {{ slot.title }}
            {{ slot.show }}
        </div>
    </div>
</div>