<button ng-click="export()">export</button>

<div class="schedule" id="schedule">
    <div ng-repeat="schedule in schedules" class="column">
        <div class="day">
            <div>
                {{ schedule.day }}
                <span class="date">{{ schedule.date }}</span>
            </div>
        </div>
        <div class="slot" ng-repeat="slot in schedule.slots" ng-class="{'slot-large': schedule.allDay}">
            <div>
                <span class="hour">{{ slot.hour }}</span>
                <span class="streamer">{{ slot.streamer }}</span>
                <span class="show">{{ slot.show }}</span>
                <span class="title">{{ slot.title }}</span>
            </div>
        </div>
    </div>
</div>