<div class="embed-placeholder replay" id="replay">
    <div class="embed-container">
        <div class="player" id="player"></div>
        <div class="sidebar">
            <div class="character character-relay">
                <div class="up"></div>
                <div class="down"></div>
            </div>
        </div>
    </div>
</div>

<div>Dernières replay - {{ nb }} vidéo(s)</div>

<div class="items">
    <div class="item" ng-repeat="video in data" ng-class="{active: active == video.id}" ng-click="loadDailymotion(video.id, true)">
        <img src="{{ video.img }}" alt="{{ video.title }}" />
        <span>{{ video.title }}</span>
        <span>{{ video.date }} {{ video.duration }}</span>
    </div>
</div>

<div class="buttons" ng-show="more">
    <div class="button" ng-click="next()">Afficher plus</div>
</div>