<div class="playlist-container">
    <h1 ng-show="title">{{ title }}</h1>

    <div class="embed-placeholder">
        <div class="loading" ng-class="{hide: !loading}">
            <span>Chargement...</span>
        </div>

        <div class="embed-container" ng-class="{show: !loading}">
            <div class="player" id="player">
                <iframe frameborder="0" scrolling="no" id="player_iframe"></iframe>
            </div>
            <div class="sidebar">
                <div class="character-replay">
                    <img src="img/bob-replay.png" alt="Replay" />
                </div>
            </div>
        </div>
    </div>

    <h2>Derniers replays - {{ nb }} vidéo(s)</h2>

    <div class="message" ng-show="message">
        {{ message }}
    </div>

    <div class="items" ng-show="!message">
        <div class="item" ng-repeat="video in data" ng-class="{active: active == video.id}" ng-click="loadYoutube(video.id, video.title, true)">
            <div class="img">
                <img src="{{ video.img }}" alt="{{ video.title }}" />
                <div class="date">{{ video.date }}</div>
                <div class="duration">{{ video.duration }}</div>
            </div>
            <div class="title">{{ video.title }}</div>
        </div>
    </div>

    <div class="buttons" ng-show="more">
        <div class="button" ng-click="next()">Afficher plus</div>
    </div>
</div>