<div class="title-block title-schedule">Programme</div>

<div class="download">
    <a href="#" ng-click="export()">Télécharger</a>
</div>

<div class="schedule" id="schedule">
    <div ng-repeat="schedule in schedules" class="column" ng-class="{'current': schedule.currentDay == currentDay}">
        <div class="day">
            <div>
                {{ schedule.day }}
                <span class="date">{{ schedule.date | date:'dd/MM/yyyy' }}</span>
            </div>
        </div>
        <div class="slot" ng-repeat="slot in schedule.slots" ng-class="{'slot-large': schedule.allDay}">
            <div>
                <span class="hour">{{ slot.hour }}</span>
                <span class="streamer">{{ slot.streamer }}</span>
                <span class="show">{{ slot.show }}</span>
                <span class="title">{{ slot.title }}</span>
            </div>
        </div>
    </div>
</div>