// images
$img-path: '../img/';
$fonts-path: '../fonts/';

$sprite: sprite-map("sprite/*.png", $spacing: 5px, $layout: smart);

// dimensions
$site-width: 1280px;

// responsive
$micro-screen: 300px;
$small-screen: 400px;
$medium-screen: 800px;
$large-screen: 1000px;
$xlarge-screen: 1200px;

$screen: "only screen";

$micro-up: $screen;
$micro-only: "#{$screen} and (max-width: #{$micro-screen})";

$small-up: "#{$screen} and (min-width:#{$small-screen + 1})";
$small-only: "#{$screen} and (min-width:#{$micro-screen + 1}) and (max-width:#{$small-screen})";

$medium-up: "#{$screen} and (min-width:#{$medium-screen + 1})";
$medium-only: "#{$screen} and (min-width:#{$small-screen + 1}) and (max-width:#{$medium-screen})";

$large-up: "#{$screen} and (min-width:#{$large-screen + 1})";
$large-only: "#{$screen} and (min-width:#{$medium-screen + 1}) and (max-width:#{$large-screen})";

$xlarge-up: "#{$screen} and (min-width:#{$xlarge-screen + 1})";
$xlarge-only: "#{$screen} and (min-width:#{$large-screen})";

// colors
$background-color: #efeef1;
$sidebar-color: #dadada;
$font-color: #333;
$border-color: #d5a940;
$primary-color: #d5a940;
$secondary-color: #d5a940;

$background-color-night: #17141f;
$font-color-night: #fff;

$schedule-font: #fff;
$schedule-background: #000;
$schedule-border: $border-color;
$schedule-header: $secondary-color;
$schedule-special: $primary-color;