$img-path: '../img/';
$fonts-path: '../fonts/';

$sprite: sprite-map("sprite/*.png", $spacing: 5px, $layout: smart);

$mobile-width: 420px;
$tablet-width: 768px;
$desktop-width: 1024px;

$background-color: #f0f0f0;
$font-color: #000;
$border-color: rgba(107, 3, 40, .2);
$primary-color: #6B0328;

$schedule-color: #fff;
$schedule-background: #446CB3;