.login {
  width: 400px;
  margin: 20px auto;
  input {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
  }
}

.admin {
  .buttons {
    margin-bottom: 20px;
  }

  h1 {
    border-bottom: 3px solid $primary-color;
  }
  h2 {
    border-bottom: 1px solid $primary-color;
  }

  .form {
    margin-bottom: 20px;
    @extend %clearfix;

    .datepicker {
      width: 200px;
      margin: 0 5px;
      input {
        box-sizing: border-box;
        width: 100%;
      }
    }
    .allDay,
    select {
      float: left;
      margin: 0 5px;
    }
  }
  table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    th, td {
      padding: 5px;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      select,
      textarea,
      input {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }

  .image {
    @extend %clearfix;
    .legend {
      font-family: 'gothamlight', sans-serif;
      margin-top: 10px;
    }
    img {
      display: block;
      width: 50px;
      cursor: pointer;
    }
    ul {
      list-style: none;
      margin: 10px 0;
      padding: 0;
      background-color: #ccc;
      @extend %clearfix;
      li {
        display: block;
        margin: 5px;
        float: left;
      }
    }
  }

  .schedule-header h1 {
    display: none;
  }

  .active {
    float: right;
    cursor: pointer;
  }

  .recipe {
    display: block;
    max-width: none;
    .txt,
    .title,
    .ingredients {
      min-height: 100px;
    }
  }
}