.ads-banner {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  img {
    display: inline-block;
    max-width: 100%;
  }
}

.ads-wallpaper {
  display: none;
}

body.ads {
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media #{$large-up} {
  .ads-banner {
    display: none;
  }

  .ads-wallpaper {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  body.ads {
    &.night .container-placeholder {
      background: $background-color-night;
    }
    .container {
      position: relative;
      padding: 0;
    }
    .container-placeholder {
      background: $background-color;
      padding: 20px;
    }
    .partners {
      padding: 10px 0;
      margin: 0;
    }
    .footer {
      margin: 0;
    }
  }
}
