.footer {
  border-top: 1px solid $border-color;
  margin-bottom: 20px;
}

.contact {
  text-align: center;
  font-size: .7em;
  font-family: 'gothamlight', sans-serif;
  a:hover {
    text-decoration: underline;
  }
}

.socials {
  margin: 20px 0;
  text-align: center;

  .social {
    position: relative;
    display: inline-block;
    height: 26px;
    width: 26px;
    margin-left: 5px;
    transition: background-color .2s;
    background-color: $primary-color;
    border: 1px solid transparent;
    border-radius: 2px;

    &:before {
      content: "";
      position: absolute;
      left: 3px;
      top: 3px;
    }
  }

  .facebook {
    &:hover {
      background-color: #3b5998;
    }
    &:before {
      @include sprite(facebook);
    }
  }
  .youtube {
    &:hover {
      background-color: #cd201f;
    }
    &:before {
      @include sprite(youtube);
    }
  }
  .twitter {
    &:hover {
      background-color: #1da1f2;
    }
    &:before {
      @include sprite(twitter);
    }
  }
  .dailymotion {
    &:hover {
      background-color: #0064dc;
    }
    &:before {
      @include sprite(dailymotion);
    }
  }
  .twitch {
    &:hover {
      background-color: #6441a5;
    }
    &:before {
      @include sprite(twitch);
    }
  }
  .discord {
    &:hover {
      background-color: #7289da;
    }
    &:before {
      @include sprite(discord);
    }
  }
  .teamspeak {
    &:hover {
      background-color: #465674;
    }
    &:before {
      @include sprite(teamspeak);
    }
  }
}