.gamer {
  @media #{$large-up} {
    margin-bottom: 20px
  }

  h1 {
    @media #{$large-up} {
      margin: 0 0 5px 0;
    }
  }
}

.articles {
  .row {
    @extend %clearfix;

    .article {
      position: relative;
      margin: 0 10px 20px 10px;
      box-sizing: border-box;
      cursor: pointer;
      @media #{$medium-up} {
        width: 50%;
        float: left;
        margin: 0 0 20px 0;
        padding-left: 10px;
        padding-right: 0;
        &:first-child {
          padding-left: 0;
          padding-right: 10px;
        }
      }

      .miniature {
        position: relative;
        display: block;
        //height: 200px;
        background: #fff;
        border: 1px solid $primary-color;
        border-radius: 10px;
        box-sizing: border-box;
        @extend %clearfix;
        .img {
          float: left;
          padding: 10px;
          img {
            width: 180px;
            height: 180px;
            border-radius: 100%;
            border: 1px solid $primary-color;
          }
        }
        .title {
          margin-left: 200px;
          padding: 10px;
          font-size: 2em;
          text-align: center;
          &:after,
          &:before {
            content: "";
            position: absolute;
            background: $primary-color;
            border-radius: 2px;
          }
          &:before {
            right: 22px;
            bottom: 8px;
            height: 30px;
            width: 4px;
          }
          &:after {
            right: 10px;
            bottom: 21px;
            height: 4px;
            width: 30px;
          }
        }
      }

      .carte {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 95%;
        max-width: 95%;
        min-width: 1200px;
        background: #fff;
        border: 1px solid $primary-color;
        border-radius: 50px;
        box-sizing: border-box;
        padding: 30px;

        .left {
          float: left;
          width: 300px;
        }

        .right {
          margin-left: 300px;
        }

        .img {

          padding: 10px;
          img {
            width: 250px;
            height: 250px;
            border-radius: 100%;
            border: 1px solid $primary-color;
          }
        }

        .ingredients {

        }

        .recipe,
        .title {
          text-align: right;
          font-size: 2em;
          background-image: linear-gradient(transparent 23px, $primary-color 24px, transparent 24px);
          background-size: 100% 24px;
        }

        .title {
          font-size: 3em;
        }
      }


      &.open {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        background: rgba(0, 0, 0, .5);

        .miniature {
          display: none;
        }
        .carte {
          display: block;
        }
      }
    }
  }
}

.character-gamer {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 60%;

  background: url('#{$img-path}bob-cuistot.png');
  background-size: 100% 100%;

  @media #{$xlarge-up} {
    padding-bottom: 40%;
  }

  .move {
    position: absolute;
    top: 3%;
    left: 69%;
    height: 66%;
    width: 28%;
    animation: balance 2s ease-in-out infinite alternate;
    transform-origin: 50% 100%;
    background: url('#{$img-path}bob-cuistot-head.png');
    background-size: 100% 100%;
  }
}