.header {
  position: relative;
  margin-bottom: 30px;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
  background: linear-gradient(to right, $background-color 0%, #dadada 20%, #dadada 80%, $background-color 100%);
  @extend %clearfix;

  @media #{$medium-up} {
    margin-bottom: 20px;
  }

  .btn-menu {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
    @include sprite(menu);
    @media #{$medium-up} {
      display: none;
    }
  }
  .btn-close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    @include sprite(close);
    @media #{$medium-up} {
      display: none;
    }
  }

  .logo {
    display: block;
    width: 125px;
    height: 60px;
    float: left;
    margin: 10px;
    background: url('#{$img-path}logo.png') center center no-repeat;
    background-size: 100% 100%;
    transition: all .3s;
    img {
      height: 60px;
    }
    @media #{$medium-up} {
      position: absolute;
      top: 50%;
      left: 15px;
      margin: -30px 0 0 0;
    }
  }

  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    border-left: 2px solid $border-color;
    z-index: 1;
    overflow-x: auto;

    @media #{$medium-up} {
      position: static;
      display: block;
      margin: 20px 0 20px 170px;
      background: none;
      border-left: none;

      .table {
        display: table;
        width: 92%;
        .table-row {
          display: table-row;
        }
      }
    }

    &.open {
      display: block;
      padding-top: 40px;
    }

    a {
      display: block;
      padding: 20px 0 20px 20px;
      font-size: 1.5em;
      font-weight: 400;
      transition: color .3s;
      color: #fff;
      &.selected,
      &:hover {
        color: $primary-color;
      }
      @media #{$medium-up} {
        padding: 2px 8px;
        font-size: .9em;
        border-left: 2px solid $border-color;
        color: $font-color;
        display: table-cell;
        max-width: 140px;
        vertical-align: middle;
        text-align: center;
      }
      @media #{$large-up} {
        padding: 2px 15px;
        font-size: 1em;
      }
      @media #{$xlarge-up} {
        padding: 2px 15px;
        font-size: 1.1em;
      }
    }
  }
}

.partners {
  text-align: center;
  @media #{$medium-up} {
    margin: 10px 0;
  }
  .partner {
    display: inline-block;
    margin: 10px;
    img {
      display: block;
      height: 50px;
      transition: all .2s;
      filter: grayscale(100%) brightness(70%) contrast(110%);
    }
    @media #{$medium-up} {
      img {
        height: 60px;
      }
    }
    @media #{$xlarge-up} {
      img {
        height: 75px;
      }
    }
  }
}
