.header {
  position: relative;
  padding-top: 20px;
  margin-bottom: 60px;
  text-align: center;

  @include responsive {
    margin: 0;
  }

  .logo {
    position: relative;
    display: inline-block;
    width: 300px;
    padding-left: 70px;
    font-size: 7em;
    font-weight: 400;
    color: $font-color;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: "LeagueGothicRegular", sans-serif;


    @include responsive {
      width: 360px;
      font-size: 10em;
    }

    span {
      margin-top: -1em;
      display: block;
      font-size: .16em;
    }

    img {
      width: 90px;
      position: absolute;
      margin-top: -40px;
      top: 50%;
      left: 0;
      transform: rotate(-10deg);
      border: 3px solid #000;
    }

    &:before {
      content: 'TV';
      position: absolute;
      right: -15px;
      top: -10px;
      font-size: .5em;
      font-weight: 400;
      transform: rotate(10deg);
    }
  }

  .btn-menu {
    float: left;
    cursor: pointer;
    @include sprite(menu);
    @include responsive {
      display: none;
    }
  }
  .btn-close {
    cursor: pointer;
    @include sprite(close);
    @include responsive {
      display: none;
    }
  }

  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 1;
    padding: 20px;

    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);

    &.open {
      display: block;
    }

    a {
      padding: 10px;
      display: block;
      font-size: 2.5em;
      font-weight: 700;
      text-align: center;
      transition: opacity .2s;
      &:hover {
        opacity: .6;
      }
      @include responsive {
        display: inline-block;
      }
    }

    @include responsive {
      position: static;
      display: block;
      margin: 40px 0;
      padding: 0;
      background: none;
    }
  }

  .socials {
    height: 24px;
    display: block;
    text-align: right;
    margin-bottom: 50px;
    .social {
      display: inline-block;
      margin-left: 10px;
      transition: opacity .2s;
      &:hover {
        opacity: .6;
      }
    }
    @include responsive {
      height: auto;
      margin-bottom: 20px;
      .social {
        margin: 10px;
      }
    }
  }
}

.facebook {
  @include sprite(facebook);
}
.youtube {
  @include sprite(youtube);
}
.twitter {
  @include sprite(twitter);
}
.dailymotion {
  @include sprite(dailymotion);
}
.twitch {
  @include sprite(twitch);
}

.balance {
  display: none;
  @include desktop-only {
    display: block;
  }

  position: absolute;
  top: 20px;
  left: 0;

  height: 200px;
  width: 172px;
  background: url('#{$img-path}bob-down.png');
  .up {
    position: absolute;
    top: 10px;
    left: 50%;
    height: 107px;
    width: 93px;
    margin-left: -43px;
    transform-origin: 50% 100%;
    animation: balance 1s ease-in-out infinite alternate;
    background: url('#{$img-path}bob-up.png');
  }
}

@keyframes balance {
  0% { transform:  rotate(5deg); }
  100% { transform:  rotate(-5deg);}
}

@keyframes balance2 {
  0% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}