.home-container {
  margin-bottom: 20px;
}

.embed-placeholder {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  box-sizing: border-box;
  @media #{$medium-up} {
    padding-bottom: 42.33%;
  }
}

.embed-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;

  &.show {
    display: block;
  }

  &.theater {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #000;
  }

  .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    object,
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media #{$medium-up} {
      width: 70%;
    }
    @media #{$xlarge-up} {
      width: 75%;
    }
  }

  .chat {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    display: none;
    background: $background-color;

    @media #{$medium-up} {
      display: block;
      width: 30%;
    }

    @media #{$xlarge-up} {
      display: block;
      width: 25%;
    }

    object,
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.embed-top,
.embed-bottom {
  &.show {
    display: block;
  }

  width: 100%;
  @media #{$medium-up} {
    width: 70%;
  }
  @media #{$xlarge-up} {
    width: 75%;
  }
}
.embed-top {
  @extend %clearfix;
  .stream {
    margin: 0 10px 5px 10px;
    @media #{$medium-up} {
      width: 50%;
      margin: 0;
      float: left;
    }
    @media #{$large-up} {
      width: 60%;
    }
    @media #{$xlarge-up} {
      width: 70%;
    }
    .title {
      font-size: 1em;
      text-transform: uppercase;
      @extend %ellipsis;
      @media #{$medium-up} {
        font-size: 1.1em;
      }
      @media #{$large-up} {
        font-size: 1.3em;
      }
    }
    .viewers {
      font-size: .65em;
      @media #{$medium-up} {
        font-size: .75em;
      }
    }
  }
  .buttons {
    display: none;
    @media #{$medium-up} {
      display: block;
      width: 50%;
      float: left;
    }
    @media #{$large-up} {
      width: 40%;
    }
    @media #{$xlarge-up} {
      width: 30%;
    }
    .button {
      float: right;
      margin-left: 5px;
      &.theater {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0;
        z-index: 15;
      }
    }
  }
}
.embed-bottom {
  .buttons {
    margin: 5px 0;
    @media #{$small-up} {
      text-align: center;
    }
    @media #{$xlarge-up} {
      text-align: right;
    }
    .button{
      display: block;
      margin: 5px 0;
      @media #{$small-up} {
        display: inline-block;
        width: 45%;
        margin: 2.5px;
        text-align: left;
      }
      @media #{$xlarge-up} {
        width: auto;
        margin: 0;
        &.chrome {
          float: left;
        }
      }
    }
  }
}

.loading {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  &.hide {
    display: none;
  }
}

.highlight {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  &.show {
    display: block;
  }
}
