.home-container {
  margin-bottom: 20px;
}

.embed-placeholder {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  box-sizing: border-box;
  @include responsive {
    padding-bottom: 42.33%;
  }
}

.embed-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;

  &.show {
    display: block;
  }

  &.theater {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #000;
    .buttons {
      top: auto;
      bottom: 0;
      .button {
        display: none;
      }
      .fullscreen {
        margin: 0;
        display: inline-block;
        float: none;
      }
    }
  }

  .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    object,
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @include responsive {
      width: 70%;
    }
    @include large-only {
      width: 75%;
    }
  }

  .chat {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    display: none;
    background: $background-color;

    @include responsive {
      display: block;
      width: 30%;
    }

    @include large-only {
      display: block;
      width: 25%;
    }

    object,
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.embed-top,
.embed-bottom {
  &.show {
    display: block;
  }

  width: 100%;
  @include responsive {
    width: 70%;
  }
  @include large-only {
    width: 75%;
  }
}
.embed-top {
  .stream {
    max-width: 100%;
    padding: 10px 0;
    .title {
      font-size: 1.5em;
      @extend %ellipsis;
      .span {
        font-size: 1em;
      }
    }
    @include responsive {
      padding: 0;
      max-width: 70%;
    }
  }
  .buttons {
    text-align: right;
  }
}
.embed-bottom {
  .buttons {
    margin: 5px 0;
    @include mobile {
      text-align: center;
    }
    @include large {
      text-align: right;
    }
    .button{
      display: block;
      margin: 5px 0;
      @include mobile {
        display: inline-block;
        width: 45%;
        margin: 2.5px;
        text-align: left;
      }
      @include large {
        width: auto;
        margin: 0;
        &.chrome {
          float: left;
        }
      }
    }
  }
}

.loading {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  &.hide {
    display: none;
  }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.highlight {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  &.show {
    display: block;
  }
}
