$img-path: '../img/';
$fonts-path: '../fonts/';

$sprite: sprite-map("sprite/*.png", $spacing: 5px, $layout: smart);

@mixin sprite($name) {
  background-image: sprite-url($sprite);
  background-position: sprite-position($sprite, $name);
  background-repeat: no-repeat;
  display: block;
  height: image-height(sprite-file($sprite, $name));
  width: image-width(sprite-file($sprite, $name));
}


$mobile-width: 420px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet-only {
  @media only screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop-only {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin responsive {
  @media only screen and (min-width: #{$tablet-width}) {
    @content;
  }
}


%clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

%ellipsis {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}