@include font-face("LeagueGothicRegular", font-files(
  "League_Gothic-webfont.eot",
  "League_Gothic-webfont.ttf",
  "League_Gothic-webfont.woff",
  "League_Gothic-webfont.svg"
));

@include font-face("GilroyExtraBold", font-files(
  "Gilroy-ExtraBold.otf"
));

body {
  background: $background-color;
  color: $font-color;
  font-family: "GilroyExtraBold", sans-serif;
}

a {
  outline : none;
  text-decoration: none;
  color: $font-color;
  img {
    display: block;
    outline : none;
    border : 0;
  }
}

.container {
  padding: 0 20px;
}

.title-block {
  padding: 0 10px 0 60px;
  margin-bottom: 40px;
  height: 2em;
  line-height: 2em;
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    @include sprite(puce-default)
  }
  &.title-donations {
    &:before {
      left: 5px;
      @include sprite(puce-donations)
    }
  }
  &.title-partners {
    &:before {
      left: 5px;
      @include sprite(puce-partners)
    }
  }
  &.title-schedule {
    padding-left: 80px;
    &:before {
      left: 10px;
      @include sprite(puce-schedule)
    }
  }
}