@include font-face("gothambold1", font-files(
  "gothambold1.eot",
  "gothambold1.ttf",
  "gothambold1.woff"
));

body {
  background: $background-color;
  color: $font-color;
  font-family: 'gothambold1', sans-serif;
  transition: all .2s;

  &.fixed {
    overflow: hidden;
  }

  &.night {
    background: $background-color-night;
    color: $font-color-night;
    .header {
      background: none;
      .logo {
        background-image: url('#{$img-path}logo-white.png')
      }
    }
    .menu {
      a {
        color: $font-color-night;
      }
    }
    .partner {
      img {
        filter: grayscale(100%) brightness(70%) contrast(170%);
      }
      &.white img {
        filter: grayscale(100%) brightness(800%) contrast(170%);
      }
    }

    .buttons {
      .button {
        background: none;
        border-color: $border-color-night;
        &:hover {
          background: rgba(255, 255, 255, .5);
        }
      }
    }
    .socials {
       .social {
         background-color: transparent;
         border-color: $primary-color;
       }
    }

  }
}

a {
  outline : none;
  text-decoration: none;
  color: $font-color;
  img {
    display: block;
    outline : none;
    border : 0;
  }
}

.container {
  max-width: $site-width;
  margin: 0 auto;
  @media #{$medium-up} {
    padding: 0 20px;
  }
  .body {
    @media #{$medium-up} {
      min-height: 400px;
    }
  }
}

.buttons {
  @extend %clearfix;

  .button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: .8em;
    background: $primary-color;
    border: 2px solid $primary-color;
    color: #fff;
    opacity: 1;
    transition: all .3s;
    box-sizing: border-box;
    overflow: hidden;
    &:hover {
      opacity: .8;
    }
    &:before {
      content: "";
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -10px;
    }
  }

  .fullscreen {
    padding-left: 35px;
    &:before {
      @include sprite(fullscreen);
    }
  }

  .download {
    padding-left: 35px;
    &:before {
      @include sprite(save)
    }
  }

  .nightmode {
    padding-left: 35px;
    color: #fff;
    &:before {
      @include sprite(moon);
    }
    &.active {
      &:before {
        @include sprite(sun);
      }
    }
  }

  .chrome {
    padding-left: 30px;
    &:before {
      @include sprite(chrome);
    }
  }

  .paypal {
    padding-left: 30px;
    &:before {
      @include sprite(paypal);
    }
  }

  .flooz {
    padding-left: 30px;
    &:before {
      @include sprite(flooz);
    }
  }

  .subscribe {
    padding-left: 32px;
    &:before {
      @include sprite(subscribe);
    }
  }
}

.message {
  margin-bottom: 20px;
}

.loading {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  &.hide {
    display: none;
  }
  &:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -15px;
    @include sprite(loading);
    animation: loading .5s linear infinite;
  }
  &:after {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -15px;
    @include sprite(loading);
    animation: loading .5s linear infinite;
  }
}

@keyframes loading {
  from { transform:  rotate(0deg); }
  to { transform:  rotate(360deg);}
}

.character-relay {
  background: url('#{$img-path}bob-down.png');
  .up {
    animation: balance2 1s ease-in-out infinite alternate;
    background: url('#{$img-path}bob-up.png');
  }
}

.character {
  position: relative;
  height: 200px;
  width: 172px;

  @media #{$large-only} {
    display: block;
  }

  .up {
    position: absolute;
    top: 10px;
    left: 50%;
    height: 107px;
    width: 93px;
    margin-left: -43px;
    transform-origin: 50% 100%;
  }
}

@keyframes balance {
  0% { transform:  rotate(5deg); }
  100% { transform:  rotate(-5deg);}
}

@keyframes balance2 {
  0% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

@keyframes balance3 {
  0%   {
    transform: rotate3d(0, 0, 1, 18deg);
  }
  10%  {
    transform: rotate3d(0, 0, 1, 20deg);
  }
  20%  {
    transform: rotate3d(0, 0, 1, 19deg);
  }
  30% {
    transform: rotate3d(0, 0, 1, 20deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, 18deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 21deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 19deg);
  }
  70% {
    transform: rotate3d(0, 0, 1, 21deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, 20deg);
  }
  90% {
    transform: rotate3d(0, 0, 1, 18deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 20deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}