@include font-face("LeagueGothicRegular", font-files(
  "League_Gothic-webfont.eot",
  "League_Gothic-webfont.ttf",
  "League_Gothic-webfont.woff",
  "League_Gothic-webfont.svg"
));

@include font-face("GilroyExtraBold", font-files(
  "Gilroy-ExtraBold.otf"
));

body {
  background: $background-color;
  color: $font-color;
  font-family: "GilroyExtraBold", sans-serif;
}

a {
  outline : none;
  text-decoration: none;
  color: $font-color;
  img {
    display: block;
    outline : none;
    border : 0;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}