.schedule-header {
  @extend %clearfix;
  .buttons {
    float: right;
    margin-right: 10px;
    @media #{$medium-up} {
      margin: 0;
    }
  }
}

.schedule {
  width: 100%;
  color: $schedule-font;
  margin-bottom: 20px;
  @extend %clearfix;

  &.export {
    background: $schedule-background;
    width: 1400px;
    height: 788px;
    margin: 0;
    .column {
      width: 200px;

      &:first-child {
        .day,
        .slots {
          border-left: none;
          border-right: none;
        }
      }

      &:nth-child(2n) {
        .slots,
        .day {
          border-left: 3px solid $border-color;
        }
      }

      .day {
        border-right: none;
      }

      .slots {
        border-left: 3px solid $border-color;
        border-right: none;
      }

      .day {
        font-size: 1.4em;
      }
    }
  }

  .column {
    width: 100%;
    float: left;
    padding: 2px 0;
    box-sizing: border-box;
    background: $schedule-background;

    .day {
      padding: 10px 0;
      margin: 10px 0;
      box-sizing: border-box;
      border-left: 3px solid $border-color;
      border-right: 3px solid $border-color;
      text-transform: uppercase;
      color: $schedule-header-font;
      font-size: 2em;
      text-align: center;

      .date {
        display: block;
        font-size: 0.5em;
        font-family: 'gothamlight', sans-serif;
      }
    }

    .slots {
      height: 700px;
      padding: 0 4px;
      border-left: 3px solid $border-color;
      border-right: 3px solid $border-color;

      @for $i from 1 through 4 {
        &.slots-#{$i} {
          .table-cell {
            height: (704px/$i) - 4;
          }
        }
      }

      &.allDay .hour {
        display: none;
      }
    }

    .slot {
      position: relative;
      display: table;
      width: 100%;
      border-radius: 10px;
      margin-bottom: 4px;
      box-sizing: border-box;
      background: $schedule-slot-background;

      .table-row {
        display: table-row;
        .table-cell {
          display: table-cell;
          padding: 5px;
          text-align: center;
          vertical-align: middle;
          box-sizing: border-box;
        }
      }

      .title {
        font-size: 1.2em;
        line-height: 1.3em;
        white-space: pre-line;
      }

      .hour {
        position: absolute;
        top: 5px;
        left: 8px;
        font-size: 0.8em;

      }
    }
  }

  @media #{$small-up} {
    .column {
      width: 50%;
      &:nth-child(2n) {
        .slots,
        .day {
          border-left: none;
        }
      }
      .slot {
        .title {
          display: inline-block;
          max-height: 100px;
          overflow: hidden;
          font-size: 1em;
          line-height: 1.2em;
        }
        .hour {
          font-size: .8em;
        }
      }
    }
  }

  @media #{$large-up} {
    .column {
      width: 14.25%;

      &:first-child {
        .day,
        .slots {
          border-left: none;
          border-right: none;
        }
      }

      &:nth-child(2n) {
        .slots,
        .day {
          border-left: 3px solid $border-color;
        }
      }

      .slots {
        border-left: 3px solid $border-color;
        border-right: none;
      }

      .day {
        font-size: 1em;
        border-right: none;
      }

      .slot {
        .title {
          font-size: .9em;
          line-height: 1.1em;
        }
        .hour {
          font-size: .7em;
        }
      }
    }
  }

  @media #{$xlarge-up} {
    .column {
      .day {
        font-size: 1.4em;
      }
      .slot {
        .title {
          font-size: 1em;
          line-height: 1.2em;
        }
        .hour {
          font-size: .8em;
        }
      }
    }
  }
}