.shop {
  margin-bottom: 20px;
}

.character-shop {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 60%;

  background: url('#{$img-path}bob-shop.png');
  background-size: 100% 100%;

  @media #{$xlarge-only} {
    padding-bottom: 40%;
  }

  .move {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 40%;
    width: 26%;
    margin-left: -15%;
    animation: shop 1.5s ease-in-out infinite alternate;
    transform-origin: 50% 0;
    background: url('#{$img-path}bob-shop-head.png');
    background-size: 100% 100%;
    z-index: -1;
  }
}

@keyframes shop {
  0% {
    transform: rotate3d(1, 1, 0, 30deg);
  }
  100% {
    transform: rotate3d(-1, 1, 0, 30deg);
  }
}
