.studio {
  margin-bottom: 20px;
}

.gallery {
  @extend %clearfix;
  box-sizing: border-box;
  .item {
    width: 100%;
    box-sizing: border-box;
    float: left;
    margin-bottom: 20px;

    .img {
      position: relative;
      height: 0;
      padding-bottom: 65%;
      box-sizing: border-box;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        &.large {
          top: -40%;
        }
      }

      &.open {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        background: rgba(0, 0, 0, .5);
        img {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  @media #{$small-up} {
    padding: 0 5px;
    .item {
      padding: 5px;
      width: 50%;
      margin: 0;
      .img {
        border: 1px solid $primary-color;
        &.open img {
          border: 1px solid $primary-color;
          max-height: 95%;
          max-width: 95%;
        }
      }
    }
  }
  @media #{$medium-up} {
    padding: 0;
  }
  @media #{$large-up} {
    .item {
      width: 33.333%;
    }
  }
}
